

.servicios--component{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 20px;
    font-family: 'Aristotelica', 'Spectral', serif;

}

.servicio-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.servicio-itemImg{
    width: 50%;
    
}
.servicio-itemImg img{
    width: 100%;
   
}

.servicio-itemText{
    width: 100%;
    text-align: justify;
}

.servicio-itemHeader{
    background-color: #293591;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 15px;
}

.servicio-itemHeader h2{
    margin-top: 5px;
}

.servicio-itemText p{
    color: #293591;
    font-weight: normal;
    
    margin-left: 20px;

    width: 100%;
    margin-left: 0;
}

.responsiveHeader-Servicio{
    align-self: flex-start;
}

.responsiveHeader-Servicionone{
    
    display: none;
}

@media (min-width:768px){
    .responsiveHeader-Servicio{
        display: none;
    }

    .responsiveHeader-Servicionone{
    
        display: inline-block;
    }

    .servicio-itemText p{
        color: #293591;
        font-weight: normal;
        
        margin-left: 20px;
    
        width: 90%;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .servicio-itemText{
        width: 65%;
    
    }
    .servicio-itemImg{
        width: 30%;
        
    }
    .servicio-item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}